:root {
  --text: #cee3ff;
  --background: #000b15;
  --primary: #6cadfe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--text);
}

#page-wrapper {
  width: 80vw;
  background-color: var(--background);
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-weight: 700;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 5vh 0;
}

a {
  text-decoration: none;
  color: var(--text);
}

header {
  padding: 1.5vh 1.5vw;
}

nav {
  width: 30%;
  padding: 0 1.5vw;
  font-weight: 700;
  font-size: calc(5px + 1.3vw);
}

main {
  padding: 3.5vh 3.5vw;
  width: 70%;
  min-height: 100vh;
  background-color: #051320;
}

.experience-entry h3 a {
 text-decoration: underline;
}
footer {
  padding: 2vh 2vw;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.experience-entry {
  padding: 3vh 0;
}

.experience-entry p {
  padding: 0.5vh 0;
}

.bullet-point li {
  list-style-type: disc;
  padding: 0;
  margin: 1vh 0 0 1vw;
  font-weight: 300;
  font-size: calc(1vh + 5px);
  color: #f0f0f0;
}

.calculator {
  background: var(--primary);
  border-radius: 12px;
  padding: 1.5vh 1.5vw;
  width: 90%;
  max-width: 320px;
  margin: 2vh;
  text-align: center;
}

.calculator h2 {
  color: var(--text);
  font-size: calc(2vh + 5px);
  margin-bottom: 1vh;
}

.calculator input {
  width: 100%;
  padding: 1vh 1vw;
  margin: 0.5vh 0;
  font-size: calc(1.5vh + 2px);
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
  color: #333;
  outline: none;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;
}

.calculator button {
  width: 30%;
  background: #3b82f6;
  color: white;
  font-size: calc(1.5vh + 2px);
  border: none;
  padding: 1vh 1.2vw;
  border-radius: 5px;
}

#output {
  background: #fff;
  border-radius: 5px;
  padding: 2vh 1vw;
  font-size: calc(1.5vh + 2px);
  color: var(--background);
  margin-top: 1vh;
  border: 1px solid #ccc;
  height: 2vh;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 750px) {
  header {
    text-align: center;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  nav {
    width: 100%;
    height: auto;
    padding: 1vh 0;
    text-align: center;
    overflow-x: auto;
  }

  nav ul {
    display: flex;
    gap: 1rem;
    padding: 0 1vw;
  }

  nav li {
    padding: 1vh 0;
  }

  main {
    width: 100%;
  }

  .bullet-point li {
    font-size: 1.5vh;
  }
}
